@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: #1c1f28;
}

header {
    background: rgba( 0, 0, 0, 0.15 );
    position: fixed;
    width: 100%;
    z-index: 1
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    backdrop-filter: blur(13px);
    background: rgba( 0, 0, 0, 0.45 );
}

.logo {
    display: flex;
    align-items: center;
}


.logo img {
    width: 100px;
    height: 50px;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 0;
    align-content: center;
    align-items: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 400;
}
.branc_bt_nav {
    color: #bbbbbb;
}

.mobile-menu-icon {
    display: none; 
    margin-top: 10px;
} 

.mobile-menu {
    display: none; 
}

/* Quando a tela estiver no tamanho de 755px ou maior, o botão não aparecerá. Neste caso, também já está compatível com a resolução 425px requisitada para esta atividade. */
@media screen and (max-width: 980px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        backdrop-filter: blur( 13px );
        -webkit-backdrop-filter: blur( 13px );
        background: rgba( 0, 0, 0, 0.45 );
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    /* Classe open com o display block, ou seja, quando essa classe for adicionada ao nosso menu, ele aparecerá  */
    .open {
        display: block;
    }
}

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(97,21,78);
    background: linear-gradient(115deg, rgba(97,21,78,1) 0%, rgba(44,55,109,1) 61%);
}

.icon-fly-games
{
    display: flex;
    justify-content: center;
    padding-bottom: 1cm;
}

.form {
    display: block;
    padding: 1cm;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.form .row {
    display: block;
    padding: 10px;
    justify-content: center;
    display: flex;
}

.form .flx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .flx .input {
    flex: 1;
}

.form .flx .input:first-child {
   /* margin-right: 20px; */
}

.form .input {
    display: block;
    width: 21em;
    padding: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 1.2em;
    color: #333333;
}

.form .input:focus {
    outline-color: #2196F3;
}

.form .textarea {
    display: block;
    width: 100%;
    height: 150px;
    padding: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 1.2em;
    resize: none;
}

.form .textarea:focus {
    outline-color: #2196F3;
}

.form .btn {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #3F51B5;
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 400px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.form .btn:hover {
    background-color: #283593;
}

.register{
    display: flex;
    justify-content: center;
}

.text-register a
{
    text-decoration: none;
    color: #283593;
}

@media (max-width: 540px) {
    .form flx {
        display: block;
        width: 100%;
        margin: 0px 20px;
    }
}

@media (max-width: 450px) {
    .form .flx {
        display: block;
    }
    .form .flx .input:first-child {
        margin-bottom:20px;
    }
    .form .input,
    .form .textarea,
    .form .brn {
        font-size: 1em;
    }
}
