@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img{
    max-width: 120px;
    border-radius: 8px;
}
.caixas{
    max-width: 160px;
    height: 280px;
    align-items: center;
    text-align: center;
}

.paiDa_div{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 33% 33% 33% 33% 33%;
    margin-left: 15%;

    
}
.h3{
    font-family: 'Roboto';
    color: #000000;
    font-size: 18px;

}

.botao{
    color: rgb(251, 249, 252);
    background-color: rgb(27, 37, 180);
    padding: 10px;
}
.star{
    list-style-type: none;
    
    color: #FFE500;
    max-width: 50px;
    font-size: 23px;
    
}
.star::before{
    content: "\2605";
}
.starSemColor{
    list-style-type: none;
    color: #FFE500;
    max-width: 50px;
    font-size: 23px;
}
.starSemColor::before{
    content: "\2606";
}
.star_ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
.img:hover{
    transform: scale(1.20);
    
}